<!DOCTYPE html>
<html>
<head>
	<title>Database of Generic</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="./index">Home</a></li>
			<li><a href="./whosit">Whosits</a></li>
			<li><a href="./wheresit">Wheresits</a></li>
			<li><a href="./whatsit">Whatsits</a></li>
			<li><a href="./hasA">Who Does What</a></li>
			<li><a href="./howsit">Howsits</a></li>
			<li><a href="./feelsA">Who Feels How</a></li>
			<li><a href="./whysit">Whysits</a></li>
		</ul>
	</nav>
	{{{body}}}
</body>
</html>