<h1>Welcome to the database for the world called Generic.</h1>

<p>Generic is a planet divided into regions called Wheresits inhabited by beings called Whosits. To preserve the existence of Generic, a number of tasks called Whatsits are required. Whosits perform these Whatsits at any Wheresit. Unbeknownst to the Whosits, each has a predetermined destiny called a Whysit assigned by an unnamed higher-being that oversees Generic. The discrepancies between a Whosit's Whatsits and its Whysit largely determines the overall emotional state, or Howsit, of the Whosit.</p>

<h3><a href="./whosit.html">The Whosits of Generic</a></h3>
<a href="./update.html">Update a Whosit</a>

<h3><a href="./wheresit.html">The Wheresits of Generic</a></h3>

<h3><a href="./whatsit.html">The Whatsits of Generic</a></h3>

<h3><a href="./hasA.html">Who Does What</a></h3>

<h3><a href="./howsit.html">The Howsits of Generic</a></h3>

<h3><a href="./feelsA.html">Who Feels How</a></h3>

<h3><a href="./whysit.html">The Whysits of Whosits</a></h3>