<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<body>
	<a href="./whosit.html">Browse and Add Whosits</a>
	<br>
	<a href="./update.html">Update Whosits</a>
	<br>
	<a href="./whatsit.html">Browse and Add Whatsits</a>
	<br>
	<a href="./wheresit.html">Browse and Add Wheresits</a>
	<br>
	<a href="./whysit.html">Browse and Add Whysits</a>
	<br>
	<a href="./howsit.html">Browse and Add Howsits</a>
	<br>
	<a href="./feelsA.html">Browse and Add Emotional States</a>
	<br>
	<a href="./hasA.html">Browse and Assign Whatsits to Whosits</a>
</body>
</html>