<h1>The Wheresits of Generic</h1>
<p>Generic is divided into regions called Wheresits. Each Wheresit has a temperature ranging from 0 (coldest) to 100 (hottest).</p>
<h3>Known Wheresits</h3>
<table>
  <thead> 
      <th>Name</th>
      <th>Temperature</th>
  </thead>
  <tbody>
      <tr> 
          <td>Place1</td> 
          <td>10</td> 
      </tr>
      <tr> 
          <td>Place2</td> 
          <td>20</td> 
      </tr>
      <tr> 
          <td>Place3</td> 
          <td>30</td> 
      </tr>
      {{#each wheresit}} 
      <tr> 
          <td>{{wheresitName}}</td> 
          <td>{{temperature}}</td> 
      </tr> 
      {{/each}} 
  </tbody>
</table>
<br><br>
<form>
	<fieldset>
		<legend>Enter information for a new Wheresit</legend>

		<label for="wheresitName">Name of Wheresit: </label>
		<input id="wheresitName" type="text" name="wheresitName" maxlength="20" required>

		<br>

		<label for="temperature">Temperature: </label>
		<input id="temperature" type="number" name="temperature" min="0" max="100" placeholder="50">

		<br><br>

		<input type="submit" name="wheresitSubmit" value="Add Wheresit">
	</fieldset>
</form>